<!-- {{ title }} -->

<div class="main" fxLayout="row" fxLayoutAlign="center center">
	<form class="example-form" novalidate fxLayout="column">
        
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Username">
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Password">
            </mat-form-field>
        </div>
        
        <div fxLayout="row" fxLayout.lt-md="column">
                <a href="/soon" class="mat-body-1" fxFlexAlign.gt-sm="center">Forgot password?</a>
                <div fxFlex style="padding-bottom: 20px;"></div>                
                <button mat-raised-button fxFlexAlign.gt-sm="center" color="accent">Login</button>
        </div>

	</form>
</div>
