:host {
    // display: block;
    // border: 1px solid black;
    position: relative;
    max-width: 500px;
}

.wrapper {
    background-color: fff;
    min-width: 300px;
    min-height: 300px;

    max-width: 500px;

    .team-member {
        $team-member-img-height: 200px;
        $team-member-margin: 10px; // background-image: url("http://demo.qodearena.com/projects/anticahtml/img/team_img1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        height: $team-member-img-height;
        width: $team-member-img-height;
        position: relative;
        margin: 15px 15px;
        // cursor: pointer;
    }

    .meet-row{
        padding: 20px 0;
    }

    .mat-title{
        padding: 0;
        margin: 0;
    }
}
