<div class="wrapper" fxLayout="column">

	<div class="header" fxLayout="column">
        <div fxFlexFill class="inner" fxLayout="column" fxLayoutAlign.lt-md="end center">
            <div class="stage">
                <div class="mat-display-1">
					<!-- <strong>Everyone</strong> has a <strong class="text-accent">story</strong> to be <strong>told</strong>. -->
					<strong>You</strong> have a <strong class="text-accent">story</strong> to be <strong>told</strong>.
                    <!-- What <strong class="text-accent">story</strong> do you have to <strong>tell</strong>. 				 -->
                </div>
            </div>		
        </div>
		<app-bouncing-mouse [theme]="'light'"></app-bouncing-mouse>
	</div>


	<div class="services light-theme" fxLayout="column" fxLayoutAlign="center center">

		<div class="inner">
			<div class="mat-display-3">Creative</div>
			<div fxLayout="row wrap">
				<div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let i of creative">
					<div class="service">
						<div class="title mat-title" [innerText]="i.name"></div>
						<div class="desc mat-body-1" [innerText]="i.desc"></div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
