<div mat-dialog-content fxLayout="column">

	<div fxLayout="column" fxLayoutAlign="end end" style="padding: 20px;">
		<button mat-icon-button (click)="onNoClick()"><mat-icon>close</mat-icon> </button>
	</div>
	<mat-icon svgIcon="logo" style="height: 50px; width: 50px;"></mat-icon>

	<div class="wrapper" fxLayout="column" fxLayoutAlign="center center">

		<div class="inner">
			<div fxLayout="column" fxLayoutAlign="center stretch">

				<mat-icon svgIcon="paper-plane" color="accent" style="height: 100px; width: 100px;"></mat-icon>
				<div class="mat-headline" [innerHtml]="title"></div>
				<div class="mat-title" [innerHtml]="msg"></div>

				<div>
					<button color="accent" (click)="onNoClick()" mat-raised-button>Ok</button>
				</div>

			</div>
		</div>

	</div>

</div>
