<!-- {{ title }} -->

<mat-sidenav-container>

	<mat-sidenav #sidenav [mode]="'over'">

		<div fxLayout="row">

			<div fxFlex></div>

			<div style="padding:10px;">
				<button mat-icon-button (click)="sidenav.toggle()">
					<mat-icon>close</mat-icon>
				</button>
			</div>

		</div>

		<button mat-menu-item (click)="sidenav.toggle()" routerLink="/">Home</button>

		<mat-accordion>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						Services
					</mat-panel-title>
					<!-- <mat-panel-description>
						Type your description here
					</mat-panel-description> -->
				</mat-expansion-panel-header>

				<mat-action-row>
					<button mat-button routerLink="/accounting" (click)="sidenav.toggle()">Accounting</button>
				</mat-action-row>

				<mat-action-row>
					<button mat-button routerLink="/technology" (click)="sidenav.toggle()">Technology</button>
				</mat-action-row>

				<mat-action-row>
					<button mat-button routerLink="/creative" (click)="sidenav.toggle()">Creative</button>
				</mat-action-row>

			</mat-expansion-panel>
		</mat-accordion>

		<!-- <div class="mat-elevation-z6"> -->
		<button mat-menu-item class="text-accent" (click)="sidenav.toggle()" routerLink="/login">Login</button>
		<!-- </div> -->

	</mat-sidenav>

	<mat-sidenav-content>

		<div class="outer" fxLayout="column" [ngClass]="styles.siteClasses">

			<div fxLayout="column" fxFlexAlign="center" class="container">

				<div class="toolbar" [ngClass]="styles.toolbarClasses">

					<!-- <mat-toolbar color="primary"> -->
					<mat-toolbar>

						<mat-toolbar-row fxHide.lt-md>

							<button mat-icon-button routerLink="/" class="logo-btn">
								<mat-icon svgIcon="logo"></mat-icon>
							</button>

							<!-- <button mat-button routerLink="/" [innerText]="siteInfo.name"></button> -->

							<div fxFlex fxLayout="row" fxLayoutAlign="center center">
								<!-- <button mat-button routerLink="/" [innerText]="siteInfo.name"></button> -->
							</div>

							<!-- <button mat-button routerLink="/services">Services</button> -->

							<!-- <a mat-button href="https://xlear.io/" style="text-transform: lowercase">xlear.io</a> -->

							<button mat-button [matMenuTriggerFor]="servicesMenu">Services</button>

							<mat-menu #servicesMenu="matMenu">

								<button mat-menu-item routerLink="/accounting">Accounting</button>
								<button mat-menu-item routerLink="/technology">Technology</button>
								<button mat-menu-item routerLink="/creative">Creative</button>

							</mat-menu>


							<!-- <button mat-button routerLink="/Industries">Industries</button> -->

							<!-- <button mat-button [matMenuTriggerFor]="specialtiesMenu">Specialties</button> 
								
								<mat-menu #specialtiesMenu="matMenu">

								<button mat-menu-item>Cryptocurrency</button>
								<button mat-menu-item>Creative Agencies</button>
								<button mat-menu-item>Entrepreneurs</button>
								<button mat-menu-item>Medical Doctors</button>
								<button mat-menu-item>Real Estate & Developers</button>
								<button mat-menu-item>Service-based Businesses</button>
								<button mat-menu-item>Software Developers</button>
								<button mat-menu-item>Wealth Management</button>

							</mat-menu> -->

							<!-- <button mat-button routerLink="/careers">Careers</button> -->

							<!-- <button mat-button routerLink="/landing">Contact</button> -->

							<button mat-button class="text-accent" routerLink="/login">login</button>

							<!-- <span [innerText]="siteInfo.phone | phone"></span> -->

						</mat-toolbar-row>

						<mat-toolbar-row fxHide.gt-sm>

							<button mat-icon-button>
								<mat-icon aria-label="menu" (click)="sidenav.toggle()">menu</mat-icon>
							</button>

							<span fxFlex></span>

							<!-- <button mat-button routerLink="/" [innerText]="siteInfo.name"></button> -->

							<button mat-icon-button routerLink="/" class="logo-btn">
								<mat-icon svgIcon="logo"></mat-icon>
							</button>

						</mat-toolbar-row>

					</mat-toolbar>

				</div>


				<!-- <div class="toolbar" fxLayout="row" [class.transparent]="transparentToolbar" [class.restrict-width]="transparentToolbar">

					<button mat-button routerLink="/">Home</button>

					<span fxFlex></span>

					<button mat-button routerLink="/services">Services</button>

					<button mat-button routerLink="/Industries">Industries</button>
					<button mat-button [matMenuTriggerFor]="specialtiesMenu">Specialties</button>
					<mat-menu #specialtiesMenu="matMenu">

						<button mat-menu-item>Cryptocurrency</button>
						<button mat-menu-item>Creative Agencies</button>
						<button mat-menu-item>Entrepreneurs</button>
						<button mat-menu-item>Medical Doctors</button>
						<button mat-menu-item>Real Estate & Developers</button>
						<button mat-menu-item>Service-based Businesses</button>
						<button mat-menu-item>Software Developers</button>
						<button mat-menu-item>Wealth Management</button>

					</mat-menu>

					<button mat-button routerLink="/careers">Careers</button>
					<button mat-button routerLink="/private">Profile</button>
					<button mat-button routerLink="/private/account">Account</button>
					<button mat-button routerLink="/office">Overview</button>
					<button mat-button routerLink="/office/accounts">Accounts</button>
					<button mat-button routerLink="/asdf">asdf</button>
					<button mat-button routerLink="/login">login</button>

				</div> -->

				<router-outlet></router-outlet>

				<div [ngClass]="styles.footerClasses" class="footer mat-body-1" fxLayout="column" fxLayoutAlign="center stretch">

					<div class="watermark" fxLayout="column" fxLayoutAlign="center stretch">
						
						<div fxLayout.lt-md="column" fxLayoutAlign.lt-md="space-around start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between start">
	
							<!-- <div class="section">
								<div class="hdr">
									Services
								</div>
								<div class="opt" fxLayout="column">
									<div>
										<a routerLink="/accounting">Accounting</a>
									</div>
									<div>
										<a routerLink="/technology">Technology</a>
									</div>
									<div>
										<a routerLink="/creative">Creative</a>
									</div>
								</div>
							</div> -->
							<!-- <div class="section">
								<div class="hdr">
									header 2
								</div>
								<div>save the elephants</div>
								<div>child 2</div>
							</div> -->
							<div class="section">
								<!-- <div class="hdr">
									header 3
								</div>
								<div>child 1</div>
								<div>child 2</div> -->
							</div>
							<div class="section" [ngClass.gt-sm]="['text-right']">
								<!-- <span [innerText]="siteInfo.name"></span> -->
								<!-- <br> -->
								<!-- <span [innerText]="siteInfo.city"></span> -->
								<!-- <br> -->
								
								<!-- <span [innerText]="siteInfo.address1"></span>
								<br>
								<span [innerText]="(siteInfo.city + ', ' + siteInfo.state + ' ' + siteInfo.zip)"></span>
								<br>
								<br>
								<span [innerText]="siteInfo.phone | phone"></span> -->
							</div>
							
						</div>
						
						<div fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between end">
							
							<div class="section" fxFlexOrder.lt-md="1">
								
								<span [innerText]="siteInfo.name + ' 2020'"></span>  
								<!-- <span>©</span>  -->
								
								<!-- <span>All rights reserved</span> -->
								
								<!-- see palantir for example legal language -->
								<br>
								
								<a routerLink="/terms">Terms of use </a>
								<span> & </span>
								<a routerLink="/privacy">Privacy and Security Statement </a>
								
							</div>
							
							<div class="section" fxFlexOrder.lt-md="0" [ngClass.gt-sm]="['text-right']">
								<!-- order before legal language when small screen -->
								<!-- <span>Site built by <span [innerText]="siteInfo.name"></span></span> -->
								<!-- <span>Made with</span>
								<mat-icon class="heart">favorite_border</mat-icon>
								by 
								<a [innerText]="siteInfo.name" routerLink="/"></a> -->
								<!-- <button mat-button class="uppercase">Learn more</button> -->
								<!-- Create a webpage that explains our process -->
								<!-- 
									Stack: 
									1 - angular
									2 - firebase
									3 - material design
									Design:
									1 - we go to pintrest with our client and they pick design style that they like 
									2 - Choose a color palette from google colors
									operational requirements
									1 - current state understanding of your business technolgoy
									2 - evaluate integrated apis available
									mobile: 
									1 - ionic
									2 - deployment
								-->
							</div>
							
						</div>

					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</mat-sidenav-content>
</mat-sidenav-container>
