@import "~@angular/material/theming";
@import "../sass/dark-theme";

// https://github.com/angular/flex-layout/wiki/Responsive-API
$max-width: 1440px;

.container {
    width: 100%;
}

.fullPageShadow {
    .container {
        @include mat-elevation(6);
    }
}

mat-sidenav {
    // font-size: 15px;
    font-weight: 400;

    .mat-expansion-panel {
        box-shadow: none;
    }

    .mat-menu-item {
        padding: 0 24px;
    }
}

// $background: map-get($theme-drk, background);
.outer {
    min-height: 100vh;

    &.dark-bg {
        background-color: map-get($mat-dark-theme-background, background);
    }

    &.restrict-width {
        .container {
            max-width: $max-width;

            .toolbar {
                max-width: $max-width; // center div in screen
                left: 50%; // center from center of div
                transform: translateX(-50%);
            }
        }
    }
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;

    button {
        &.mat-button {
            text-transform: uppercase;
        }
    }

    &.dark-theme {
        mat-toolbar {
            background-color: rgba(map-get($primary-drk, default), 0.95);
        }
    }

    &.transparent {
        mat-toolbar {
            background-color: transparent !important;

            @media screen and (min-width: 600px) {
                // add additional padding to toolbar if not xs size screen
                padding: 30px;
            }
        }
    }
}

.footer::after {
    content: "";
    // background: url(image.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-image: url("../../assets/logos/watermark.png");
    background-repeat: no-repeat;
    background-size: (200px*2.2) (100px*2.2);
    background-position: right bottom;
    opacity: 0.1;
}

.footer {
    padding: 30px 60px; // sets mimimum padding
    background-color: map-get($primary-drk, darker);

    // background-color: #fff;
    min-height: 150px;
    color: rgba(#fff, 0.65);

    position: relative;
    z-index: 1;

    .heart {
        font-size: 14px;
        height: 14px;
        width: 14px;
    }

    .section {
        padding: 12px;
    }

    .hdr {
        color: #fff;
        font-weight: 500;

        .opt {
            text-decoration: none;
        }
    }
}
