<div class="wrapper" fxLayout="column">

	<div class="header" fxLayout="column">
		<div fxFlexFill class="inner" fxLayout="column" fxLayoutAlign="center center">
			<div class="mat-display-1">
				Say <strong> hello </strong> to a more modern, <strong class="text-accent"> refreshing </strong> experience.
			</div>
		</div>
		<app-bouncing-mouse [theme]="'light'"></app-bouncing-mouse>
	</div>


	<div class="services light-theme" fxLayout="column" fxLayoutAlign="center center">

		<div class="inner">
			<div class="mat-display-3">Accounting & Finance</div>
			<div fxLayout="row wrap">
				<div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let i of accounting">
					<div class="service">
						<div class="title mat-title" [innerText]="i.name"></div>
						<div class="desc mat-body-1" [innerText]="i.desc"></div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<!-- <div fxLayout="column" fxLayout.gt-sm="row" class="light-theme bookkeeping">

		<div fxFlex="50">

		</div>

		<div fxFlex="50" fxLayout="column" class="timeline" fxLayoutAlign="end center">

			<div class="stage" *ngFor="let i of [1,2,3]; index as i">
				<div class="number">{{i}}</div>
				<div class="mat-title">Title</div>
				<div class="mat-body-1">Say hello to a more modern, refreshing accounting experience. Say hello to a more modern, refreshing accounting experience.
				</div>
			</div>

		</div>

	</div> -->

<!-- <div class="stmt-icons light-theme" fxLayout="row" fxLayoutAlign="space-around center">
	
			<div class="inner" fxLayout="row" fxLayout.lt-md="column">
	
				<div class="info" fxFlex="50">
					<div class="mat-title">Time is invaluable.</div>
					<div class="mat-body-1">Your business is your story, make it count by focusing your time on what matters. The most common distraction for business
						leaders is responding to accounting matters. We are inspired by what our clients can achieve once their efforts are
						entirely focused on running their business. We do the dirty work of importing bank statements, paying bills, creating
						invoices, tracking time, running payroll, generating financial statements, and a lot more. Even the most technical accounting
						aspects of your business are handled by staff who have been trained by experienced big four CPAs. Is today the day you
						choose to take back your business?</div>
					<div class="btn-wrapper">
						<button mat-raised-button>Learn more</button>
					</div>
				</div>
	
				<div fxFlex>
	
					<div>
						Accounting Systems
					</div>
	
					<div class="icon-line" fxLayout="row" fxLayoutAlign="space-between center">
						<div>
							icon
						</div>
						<div>
							icon
						</div>
						<div>
							icon
						</div>
					</div>
	
					<div class="icon-line" fxLayout="row" fxLayoutAlign="space-between center">
						<div>
							icon
						</div>
						<div>
							icon
						</div>
						<div>
							icon
						</div>
					</div>
	
				</div>
			</div>
	
		</div> -->
